$fontsz: 30px;


// to use: @include center;
@mixin center{
  /* font-size: 100px; */
  position: absolute;
  /* width:100%; */
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.skills-description {
  color: black;
  font-size: 20px;
}

body { 
  font-family: Lato, sans-serif;
  background: #f1c40f;
  overflow-y:hidden;
  overflow-x: hidden;
  min-width:500px;
}

a{
  color: black
  
}
.flex-hor {
   display: flex;
  flex-direction: row;
  @include center;
  text-align: center;
  /* height: 30%; */
  //background: blue;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  //position: absolute;
}
.item {
  margin: 10px;
  width: 100px;
  min-width:100px;
  /* background: #e74c3c; */
}

.item-resume {
   z-index: 9;
}
.item-portfolio {
  cursor:pointer;
}
.about{fill:#E64C3C;}
.portfolio0{fill:#E64C3C;}
.portfolio1{fill:none;stroke:#E64C3C;stroke-width:4;stroke-miterlimit:10;}
.resume{fill:#E64C3C;};
.skills{fill:#E64C3C};

.text {
  position:fixed;
  font-size:1.5rem;
  fill:#E64C3C;
}
// skills has to be different because it starts yellow
.text-skills{
  position:fixed;
  font-size:1.5rem;
  fill:#f1c40f;
}

.item-flex-vert { 
  display: flex;
  flex-direction: column;
  /* background: red; */
}

.resume-doc {
  width: 50%;
  left:25%;
  top: 25%;
  bottom:25%;
  text-align: center;
  position: absolute;
  z-index: 11;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
/*  transition-delay: 1.5s 1s;;
*/  transition: .6s;
  //clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
/*  overflow:visible;
*/  opacity: 100;
/*  background:red;
*/}

.resume-doc-click{
  cursor: pointer;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); 
  transition: 1s 1s;
}

.wand-container{
  position:fixed;
  bottom:120%;
  left:70%;
  /* background:red; */
  z-index:11;
}

.wand {
  bottom:100%;
}

svg {
  overflow:visible;
}

.skill-1, .skill-2, .skill-3, .skill-4 {
  box-shadow: 1px 1px 2px rgba(15,15,15,0.3);
  padding:10px;
  margin:2px;
  line-height:$fontsz;
  transition: background 0.3s ease;
}
.skill-3{
  background:#9b59b6;
}
.skill-2{
  background:rgba(52, 152, 219,1.0);
}
.skill-1{
  background:rgba(46, 204, 113,1.0);
}
.skill-4{
  background:rgba(231, 76, 60,1.0);
}
.skill-1:hover, .skill-2:hover, .skill-3:hover, .skill-4:hover{
  background:black;
}
.about-container {
  top: 20%;
  left: 100%;
  position:absolute;
  width: 60%;
}
.skills-container{
  margin:10px;
  font-size:$fontsz;
color:white;
  cursor:default;
 // @include center;
  left:100%;
  position:absolute;
  //bottom:25%;
  display:flex;
  flex-wrap:wrap;
  min-width:300px;
  background:rgba(46, 204, 113,.2);
  height:0;
  width:90%;
  // width:100%;
}

.back {
  color:#2D3E51;
  position: fixed;
  left: -50px; 
  top: 45%;
  font-size: 4rem;
  
  cursor:pointer;
}
.back:hover {
  color: #fff;
}