@import url('https://fonts.googleapis.com/css?family=Dosis:800|Lobster|Pacifico');

body{
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ff93a6;
    height: calc(100% + 200px);
  }
  
  h1{
    font-size: 10rem;
  }
  
  figure{
    margin: 0;
  }
  
  figcaption{
    padding: 20px;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .wrapper{
    max-width: 600px;
    margin: 20px auto;
  }
  
  .image-wrapper {
    background: url("") center center no-repeat;
    width: 100%;
    position: relative;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 800ms;
    transition-timing-function: ease-out;
    color: #FCE3E9;
    img{
      transform: perspective(400px) rotateX(5deg);
      transition-property: transform;
      transition-duration: 800ms;
      transition-timing-function: ease;
    }
  }
  
  .zap{
  
      transform: scale(1);
    img{
      transform: perspective(0) rotateX(0);
    }
  }
  
  .ratio_16-9 {
    padding-top: 40vh;
    padding-bottom: 40vh;
    height: 0;
    &.pinktime{
      padding-bottom: 0;
    }
  }
  .b-lazy {
    max-width: 100%;
    
  }
  
  /* transition */
  .b-lazy {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    max-width: 100%;
    opacity: 0.2;
  }
  .b-lazy.b-loaded {
    opacity: 1;
  }



  body {
    background: #222;
  }
  
  .container{
    min-width: 320px;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .heart {
    position: relative;
    left: 50%;
    top: 0px;
    width: auto;
    transform: translateX(-50%);
    display: inline-block;
    z-index: 2;
    &:hover {
      cursor: pointer;
    }
    .shape-heart {
      transition: fill .25s ease-in;
    }
    &.active {
      .shape-heart {
        fill: #FF4136;
      }
    }
  }
  svg {
    display: block;
    width: 50px;
    height:50px;
  }
  
  .clickme {
    position: relative;
    left: 70%;
    @media screen and (min-width: 480px) {
      left: 60%;
    }
    top: -20px;
    transform: scale(4);
    z-index: 1;
  }

  

// body{
//   width: 100%;
//   height: 100%;
//   margin: 0;
//   padding: 0;
// }
// 粉紅
#pink{
  position: fixed;
  top: 0;
  left: 0;
  #canvas{
    background: #ff93a6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    &.active {
      opacity: 1;
      transition: all 600ms ease-in-out;
    }
  }
  .o_heart{
    fill: #FFB3C3;
  }
  .i_heart{
    fill: #FCE3E9;
  }
  
  .text{
    z-index: 1000;
    position: fixed;
    font-size: 2em;
    letter-spacing: 3px;
    font-family: 'Dosis';
    font-weight: bold;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #FFB3C3;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid #FCE3E9;
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    &.active {
      opacity: 1;
      transition: all 600ms ease-in-out;
    }
  }
  
  .arrow_container{
    width: 100%;
    height: 100px;
    position: fixed;
    border: 1px solid black;
    z-index: 1000;
    bottom: 15px;
    left: 0px;
  }
}



// 灰色背景
#bg{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}




label {
    vertical-align: top;
    padding: 0.5rem 2rem;
    text-align: center;
    cursor: pointer;
}

.loading-indicators:before,
.loading-indicators:after {
    content: "";
    display: table;
}

.loading-indicators:after {
    clear: both;
}

.loading-indicator {
    display: block;
    position: relative;
    width: 1em;
    height: 1em;
}

.loading-indicator,
.loading-indicator:before,
.loading-indicator:after {
    animation-iteration-count: infinite;
}

input[type="radio"]:checked + label {
    color: darkslategrey;
    background-color: #FFF;
}

.li-spin {
    animation-name: spin;
    animation-duration: 2.5s;
    animation-timing-function: linear;
}

.li-spin-dotted {
    border-radius: 50%;
    border: dotted 0.125em;
}

.li-spin-dashed {
    border-radius: 50%;
    border: dashed 0.125em;
}

.li-spin-solid,
.li-spin-solid-svg {
    animation-timing-function: ease-in-out;
    animation-duration: 0.4s;
}

.li-spin-solid:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.8em;
    height: 0.8em;
    border: solid 0.2em;
    border-bottom-color: transparent;
    border-radius: 50%;
}

.li-spin-solid-svg svg  {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.li-spin-solid-svg svg circle  {
    stroke: currentColor;
}

.li-flash {
    background-color: currentColor;
    animation-name: flash;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.li-grow {
    background-color: currentColor;
    animation-name: grow;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}

.li-boxy {
    position: relative;
    overflow: hidden;
}

.li-boxy:before,
.li-boxy:after {
    content: "";
    position: absolute;
    display: block;
    background-color: currentColor;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

.li-boxy:before {
    right: 100%;
    width: 100%;
    height: 0.1em;
    animation-name: slideHorizontal;
}

.li-boxy:after {
    bottom: 100%;
    width: 0.1em;
    height: 100%;
    animation-name: slideVertical;
}

.li-ellipsis:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    animation-name: ellipsis;
    animation-duration: 1.5s;
    animation-timing-function: linear;
}



@keyframes ellipsis  {
    0%, 100% {
        box-shadow: 0 0 0 0.1em transparent,
            0.5em 0 0 0.1em transparent,
            1em 0 0 0.1em transparent;
    }
    25% {
        box-shadow: 0 0 0 0.1em currentColor,
            0.5em 0 0 0.1em transparent,
            1em 0 0 0.1em transparent;
    }
    50% {
        box-shadow: 0 0 0 0.1em currentColor,
            0.5em 0 0 0.1em currentColor,
            1em 0 0 0.1em transparent;
    }
    75% {
        box-shadow: 0 0 0 0.1em currentColor,
            0.5em 0 0 0.1em currentColor,
            1em 0 0 0.1em currentColor;
    }
}