body{
    padding-left: 20px;
    padding-right: 20px;

  }
  
  h1{
    font-size: 10rem;
  }
  
  figure{
    margin: 0;
  }
  
  figcaption{
    padding: 20px;
    font-size: 2rem;
    font-weight: 700;
  }
  
  .wrapper{
    max-width: 600px;
    margin: 20px auto;
  }
  
  .image-wrapper {
    background: url("") center center no-repeat;
    width: 100%;
    position: relative;
    transform: scale(0);
    transition-property: transform;
    transition-duration: 800ms;
    transition-timing-function: ease-out;
    img{
      transform: perspective(400px) rotateX(5deg);
      transition-property: transform;
      transition-duration: 800ms;
      transition-timing-function: ease;
    }
  }
  
  .zap{
  
      transform: scale(1);
    img{
      transform: perspective(0) rotateX(0);
    }
  }
  
  .ratio_16-9 {
    padding-top: 40vh;
    padding-bottom: 40vh;
    height: 0;
  }
  .b-lazy {
    max-width: 100%;
    
  }
  
  /* transition */
  .b-lazy {
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    max-width: 100%;
    opacity: 0.2;
  }
  .b-lazy.b-loaded {
    opacity: 1;
  }
  