<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <meta name="description" content="VietVip Pro- Mục tiêu của VietVip Pro là tạo ra một sân chơi giải trí chất lượng cao, đa dạng nhất thị trường cá cược trực tuyến. Mang lại cho người chơi sự lựa chọn hợp lý, thú vị cùng dịch vụ chăm sóc khách hàng nhanh chóng, tiện lợi và tận tình nhất.">
  <meta name="subject" content="Vietvip Pro Đài Loan để nạp tiền chơi thử nhé. mang lại Cơ hội tốt hơn cho cộng đồng">
  <meta name="keywords" content="xsmb, 越南彩票, Đài Loan, 台灣, Uy tín, 威望、最好的, tài xỉu, 骰寶, cược bóng, 球版, chất lượng, 高品質, cá cược, 博彩, thể thao, 體育, chẵn lẻ, 奇偶猜, cá độ, 足球博彩, Rồng hổ, 龍虎, Đá gà, 鬥雞, soi kèo bóng, 足球博彩, xóc đĩa, 奇偶猜, lô đề, 彩票, nỗ hũ, 老虎機">
  <link id="icon" rel="icon" href="./favicon.ico">
  <title>
    VietVip Pro
  </title>
  <script rel="preload" type="text/javascript" src="./common/import.js"></script>
</head>

<body>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  <script type="module" src="/src/main.js" defer></script>
</body>

</html>