@import "./variable";

main{
margin-bottom: 100px;

@media (max-width: 767px){
    .block-title {
        margin-bottom: 20px;
    }
}
   #newsArea{
    .row{
        .col-12{
            transition: .3s;
            &:last-child .box{
                border-bottom: 1px solid #9F9F9F;
            }
            &:hover{
                .box{
                    .text{
                        font-weight: bold;
                        color: $icon_green;
                    }
                    .iconArea{
                        color: $orange;

                    }
                }
            }
            .box{
                border-top: 1px solid #9F9F9F;
                padding: 20px 20px 20px 0;

                .text{
                    font-size: $fs-18;
                    color: black;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;

                }
                .iconArea{
                    color: $icon_green;
                    text-decoration: none;
                    i{
                        font-size: 27.5px;
                    }
                }
           }
       }
        }
    }
}

main .block-title .title-underline::after {
    display: none;;
}