@import "./variable";
@import "./functions";

body {
    &::-webkit-scrollbar {
        display: none;
    }

    &.loading {
        * {
            transition-delay: -10s !important;
        }
    }
}

html {
    scroll-behavior: smooth;

}

button,
a {
    &:focus {
        border-color: 0;
        border: none !important;
        box-shadow: none !important;
        outline: none !important;
    }
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

* {
    font-family: '微軟正黑體';
    line-height: 1;


}

#nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    position: relative;
    z-index: 99;
    background-color: white;
    overflow: hidden;
    
    @media (max-width:$pc-big) {
        height: 82px;
        
    }

    @media (max-width:$pc) {
        height: 120px;
        overflow: initial;
    }

    @media (max-width:$phone_sm) {
        height: 70px;
    }

    // @media (max-width:$pc) {
    //     position: fixed;
    //     z-index: 480;
    //     height: 85px;
    //     display: flex;
    //     align-items: center;
    //     padding-bottom: 0;
    //     background-color: white;
    // }

    // @media (max-width:$phone) {
    //     height: 120px;
    // }

    // @media (max-width:$phone_sm) {
    //     height: 70px;
    // }

    .container {
        @media (max-width:$pc) {
            max-width: 960px;
            padding-right: 40px;
            padding-left: 40px;
        }

        @media (max-width:$phone) {
            max-width: 100%;
            padding: 0 50px;
        }

        @media (max-width:$phone-sm) {
            max-width: 100%;
            padding: 0 15px;
        }
    }

    .navIcon {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 80px;

        a {
            display: block;

            img {
                width: 100%;

                @media (max-width:$pc-big) {
                    max-width: 50px;
                }

                @media (max-width:$phone) {
                    max-width: 60px;
                }

                @media (max-width:$phone-sm) {
                    min-width: 40px;
                }
            }
        }
    }

    .navText {
        padding-top: 7px;
        max-width: 275px;
        margin-left: 15px;

        @media (max-width:$pc-big) {
            max-width: 173px;
            margin-left: -15px;

        }

        @media (max-width:$pc) {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            // min-width: 100vw;
            // position: absolute;
            // left: 50%;
            // transform: translateX(-50%);
        }

        img {
            width: 100%;

            @media (max-width:$pc) {
                display: none;
            }
        }

    }

    .navTextPhoneStyle {
        @extend %flexCenter;
        display: none;

        @media (max-width:$pc) {
            display: flex;
        }

        img {
            width: 100%;

            @media (max-width:$pc) {
                max-width: 300px;
                min-width: 200px;
            }

            @media (max-width:$phone) {
                max-width: 300px;
            }

            @media (max-width:$phone-sm) {
                max-width: 193px;
                margin-left: 8px;
            }
        }
    }

    .menu {
        display: flex;
        align-items: flex-end;
        
        @media (max-width:$pc) {
            justify-content: flex-end;
            align-items: center;
            position: inherit;
        }

        .maskPhoneWhite {
            @media (max-width:$pc) {
                position: fixed;
                top: 155px;
                left: 0;
                z-index: 2;
                opacity: 1;
                pointer-events: none;
                width: 100%;
                height: calc(100% - 615px);
                background-color: white;

                &.active {
                    opacity: 1;
                    pointer-events: initial;
                    transition: .3s;
                }
            }
        }

        .maskPhoneBlack {
            @media (max-width:$pc) {
                position: fixed;
                top: 100px;
                left: 0;
                z-index: 999;
                opacity: 0;
                pointer-events: none;
                width: 100%;
                height: calc(100vh - 85px);

                &.active {
                    opacity: 1;
                    pointer-events: initial;
                    transition: .3s;
                }
            }
        }

        #hamburger {
            display: none;

            @media (max-width:$pc) {
                display: block;
                position: relative;
                width: 30px;
                height: 23px;
                transform: translateY(0%) rotate(0deg);
                transition: .5s ease-in-out;
                cursor: pointer;

                span {
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: calc(100%/5);
                    background-color: black;
                    border-radius: 9px;
                    opacity: 1;
                    left: 0;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;

                    &:nth-child(1) {
                        top: 0%;
                        transform-origin: center;
                    }

                    &:nth-child(2) {
                        top: calc(50%);
                        transform: translateY(-50%);
                        transform-origin: center;
                    }

                    &:nth-child(3) {
                        top: calc(100%);
                        transform: translateY(-100%);
                        transform-origin: center;
                    }
                }
            }

            // @media (max-width:$phone) {
            //     width: 30px;
            //     height: 23px;
            // }

            @media (max-width:$phone-sm) {
                min-width: 25px;
                height: 20px;
            }
        }

        #hamburger.open span:nth-child(1) {
            top: 50%;
            transform: rotate(45deg);
        }

        #hamburger.open span:nth-child(2) {
            width: 0%;
            opacity: 0;
        }

        #hamburger.open span:nth-child(3) {
            top: 50%;
            transform: rotate(-45deg);
        }

        ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
            list-style: none;
            
            @media (max-width:$pc) {
                position: absolute;
                top: 120px;
                left: 0%;
                flex-direction: column;
                opacity: 0;
                z-index: -1;
                pointer-events: none;
                background-color: white;
                transform: translateY(-10%);
                // display: none;
                &.active {
                    opacity: 1;
                    z-index: 9999;
                    pointer-events: auto;
                    transition: .5s;
                    transition-timing-function: cubic-bezier(0.25, 0.1, 0.45, 1.42);
                    display: flex;
                    transform: translateY(0%);
                }
            }

            // @media (max-width:$phone) {
            //     top: 120px;
            // }

            @media (max-width:$phone_sm) {
                top: 70px;
            }

            .subNav {
                transition-delay: .1s;
                transition: .5s;
                display: flex;
                align-items: flex-end;


                @media (max-width:$pc) {
                    position: relative;
                    text-align: center;
                    margin-bottom: 0px;
                    flex-direction: column;
                    align-items: center;

                    &:nth-of-type(5) {
                        &::after {
                            content: "";
                            background-image: none;
                            padding: 0 0 20px;
                        }

                        &::after {
                            padding: 0 0 19px;
                        }
                    }

                    &:first-child {
                        margin-top: 20px;
                    }

                    &::after {
                        content: '';
                        width: 600px;
                        height: 2px;
                        background-image: url('../img/index/dashed.png');
                        display: block;
                        padding: 12px 0;
                        background-repeat: repeat-x;
                        background-position: center;
                    }
                }

                // @media (max-width:$phone) {
                //     &:first-child {
                //         margin-top: 20px;
                //     }

                //     &::after {
                //         content: "";
                //         padding: 12px 0;
                //     }
                // }

                @media (max-width:$phone-sm) {
                    align-items: flex-start;
                    width: 275px;
                    margin: 0 auto;

                    &::after {
                        content: '';
                        width: 280px;
                        transform: translateX(-2.5px);

                    }
                }

                &.active {
                    opacity: 0;
                }

                a {
                    padding-bottom: 3px;
                    @include textRules($fs-24, #4D4D4D, left, 1, 1, bold);
                    text-decoration: none;
                    border-bottom: 4px solid transparent;

                    @media (max-width:$pc-big) {
                        font-size: 21px;
                    }

                    &:hover {
                        border-bottom: 4px solid #FFCD00;
                        transition: .25s;

                        @media (max-width:$pc) {
                            border: 0;
                            color: #0588E8;
                            position: relative;

                            &::before {
                                position: absolute;
                                top: 50%;
                                left: -18px;
                                content: '';
                                transform: translateY(-50%);
                                border-style: solid;
                                border-width: 10px 0 10px 10px;
                                border-color: transparent transparent transparent #0589e8;
                            }
                        }

                        // @media (max-width:$phone) {
                        //     &::before {
                        //         left: -18px;
                        //         border-width: 10px 0 10px 10px;
                        //     }
                        // }

                        @media (max-width:$phone-sm) {
                            padding-left: 30px;

                            &::before {
                                left: 0;
                            }
                        }
                    }

                    @media (max-width:$pc) {
                        border: 0;
                        color: #0F4569;
                        font-size: 32px;
                        padding-bottom: 0;
                    }

                    // @media (max-width:$phone) {
                    //     font-size: 32px;
                    // }
                }
            }

            .searchStyle {
                position: relative;
                width: 36px;
                height: 36px;
                top: -2px;
                

                @media (max-width:$pc) {
                    left: 50%;
                    transform: translateX(-50%);
                    order: -1;
                    width: 100%;
                    top: 0;
                    height: 80px;
                    overflow: hidden;
                }

                // @media (max-width:$phone) {
                //     height: 80px;
                // }

                &.active {
                    // switchMedia() 做的事情
                    position: static;
                }

                label,
                input,
                button {
                    &:focus {
                        outline: none;
                        border-color: 0 !important;
                        box-shadow: none;
                    }
                }


                .search {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 36px;
                    transform: translateX(-50%) translateY(-50%);

                    @media (max-width:$pc) {
                        height: 80px;
                        width: 100%;
                        background-color: #0588E8;
                    }

                    // @media (max-width:$phone) {
                    //     height: 80px;
                    // }

                    &__toggle:checked {
                        ~.search__field {
                            width: 350px;
                            box-shadow: 0 0 15px -10px black;
                            background-color: white;

                            .search__input {
                                font-size: 16px;
                                font-family: '微軟正黑體';

                                &::placeholder {
                                    opacity: 1;
                                }
                            }

                            .search__button {
                                right: 17.5px;
                                width: 36px;
                                height: 36px;
                                border-radius: 36px;

                                &.active {
                                    box-shadow: none;
                                }

                                &--toggle {
                                    display: none;
                                }

                                &--submit {
                                    display: flex;
                                }
                            }
                        }
                    }

                    &__close {
                        display: inline-block;
                        position: relative;
                        left: 350px;
                        width: 36px;
                        height: 36px;
                        margin-left: 30px;
                        box-shadow: 0 0 14px -7px black;
                        border-radius: 50%;
                        transition: .3s;
                        opacity: 0;

                        @media (max-width:$pc) {
                            box-shadow: 0;
                            display: none;
                        }

                        &.active {
                            opacity: 1;

                            &::before,
                            &::after {
                                background-color: #040000;
                            }
                        }

                        &::before,
                        &::after {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            display: block;
                            content: '';
                            width: 23px;
                            height: 2px;
                            border-radius: 1px;
                            background-color: white;
                        }

                        &::before {
                            transform: translate(-50%, 0%) rotate(45deg);
                        }

                        &::after {
                            transform: translate(-50%, 0%) rotate(-45deg);
                        }
                    }

                    &__field {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        width: 36px;
                        height: 36px;
                        border: 0px solid #fff;
                        border-radius: 50px;
                        transform: translate(-50%, -50%);
                        transform-origin: right;
                        transition: .3s;

                        @media (max-width:$pc) {
                            top: 50%;
                            height: 30px;
                            width: 275px;
                            box-shadow: 0 0 15px -10px black;
                            background-color: white;
                        }

                        // @media (max-width:$phone) {
                        //     height: 30px;
                        //     width: 275px;
                        // }
                    }

                    &__input {
                        position: absolute;
                        left: 0;
                        box-sizing: border-box;
                        width: calc(100% - 40px);
                        height: 100%;
                        padding: 0 20px;
                        color: black;
                        background-color: transparent;
                        border: 0;
                        outline: none;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;

                        &::placeholder {
                            color: #8C8C8C;
                            letter-spacing: 0.05em;
                            opacity: 0;
                            transition: .3s;
                            transition-delay: .3s;

                            @media (max-width:$pc) {
                                opacity: 1;
                                font-size: 16px;
                                font-family: '微軟正黑體';
                            }
                        }
                    }

                    &__label {
                        cursor: pointer;
                    }

                    &__button {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background-color: $white;
                        transform: translateY(-50%);
                        box-shadow: 0 0 14px -7px black;
                        cursor: pointer;
                        transition: .3s;

                        @media (max-width:$pc) {
                            right: 18px;
                            width: auto;
                            height: auto;
                            border-radius: 0;
                            box-shadow: 0;
                            padding: 0;
                        }

                        // @media (max-width:$phone) {
                        //     padding: 0;
                        // }

                        &--submit {
                            display: none;
                            border: 0;

                            @media (max-width:$pc) {
                                display: flex;
                                padding: 0;
                            }
                        }
                    }

                    &__icon {
                        position: relative;
                        width: 19px;
                        height: 19px;

                        &::before {
                            display: block;
                            content: '';
                            width: 12px;
                            height: 12px;
                            background-color: transparent;
                            border: 2px solid #0099ff;
                            border-radius: 50px;
                        }

                        &::after {
                            position: absolute;
                            right: 0;
                            bottom: 0;
                            display: block;
                            content: '';
                            width: 8px;
                            height: 2px;
                            background-color: #0099ff;
                            transform: rotate(45deg);
                            transform-origin: right;
                        }
                    }
                }
            }
        }
    }
}

// #breadcrumbArea {
//     @media (max-width:$pc-big) {
//         padding-top: 15px;
//     }

//     @media (max-width:$phone) {
//         padding-top: 20px;
//     }

//     .breadcrumb {
//         padding: 0;
//         padding-left: 60px;
//         margin-bottom: 0;
//         list-style: none;
//         background-color: transparent;
//         border-radius: 0;

//         @media (max-width:$pc-big) {
//             max-width: 760px;
//             padding: 0;
//             margin: auto;
//         }

//         @media (max-width:$phone) {
//             max-width: 592.5px;
//             padding: 0 15px;
//         }

//         @media (max-width:$phone-sm) {
//             max-width: 100%;
//             padding: 0 15px;
//         }

//         .breadcrumb-item {
//             padding-right: 0;
//             padding-left: 5px;
//             @include textRules(18px, #4D4D4D, center, 1px, 1, bold);

//             @media (max-width:$pc-big) {
//                 font-size: 14px;

//                 &:first-of-type {
//                     padding-left: 0;
//                 }
//             }

//             @media (max-width:$phone) {
//                 font-size: 20px;
//             }

//             &+.breadcrumb-item::before {
//                 display: inline-block;
//                 padding-right: 5px;
//                 color: #4D4D4D;
//                 content: ">";
//             }

//             a {
//                 @include textRules(18px, #4D4D4D, center, 1px, 1, bold);

//                 @media(max-width:$pc-big) {
//                     font-size: 14px;
//                 }

//                 @media (max-width:$phone) {
//                     font-size: 20px;
//                 }
//             }
//         }
//     }
// }


main {
    min-height: calc(100vh - 265px);
    display: flex;
    justify-content: center;
    align-items: center;
    *{
        transition: 0.5s;
    }
    @media (max-width:$pc_big) {
        min-height: calc(100vh - 166px);
    }

    @media (max-width:$pc) {
        min-height: calc(100vh - 247px);
        // padding-top: 120px;
    }

    @media (max-width:$phone_sm) {
        min-height: calc(100vh - 333px);
       
        // padding-top: 70px;
    }


    &::-webkit-scrollbar {
        display: none;
    }

    // @media(max-height:940px)and(min-width:$pc-big) {
    //     overflow-y: scroll;
    // }

    // @media(max-height:719px)and(min-width:$pc) {
    //     overflow-y: scroll;
    // }

    // @media(max-height:668px)and(min-width:$phone) {
    //     overflow-y: scroll;
    // }

}

#goTop {
    opacity: 0;
    width: 36px;
    height: 36px;
    background-color: #F3A730;
    border-radius: 50px;
    position: fixed;
    color: $white;
    right: 5px;
    bottom: 7%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    flex-wrap: wrap;
    align-content: center;
    font-weight: bold;
    transition: opacity .3s;
    

    .triangle {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6.7px 9.4px 6.7px;
        border-color: transparent transparent #ffffff transparent;
        transform: translateY(-25%);
    }

}

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #0588E8;
    position: relative;
    z-index: 10;

    // @media (max-width: $pc) {
    //     height: 103px;
    // }

    @media (max-width: $phone) {
        height: auto;
        padding-top: 0px;
    }

    .container {
        height: 100px;
        padding: 0px;
        display: flex;
        align-items: center;

        @media (max-width:$pc_big) {
            height: 64px;
        }

        @media (max-width:$pc) {
            max-width: 960px;
            padding-left: 40px;
            padding-right: 40px;
            height: 100px;
        }

        // @media (max-width:$phone) {
        //     height: auto;
        // }

        @media (max-width:$phone-sm) {
            height: auto;
            padding: 20px 0;
        }

        .row {
            width: 100%;

            @media (max-width: $phone-sm) {
                margin: 0;
            }
        }
    }

    .icon {
        img {
            width: 55px;

            @media (max-width:$pc) {
                width: 46px;
            }
        }

        @media (max-width:$phone-sm) {
            display: none !important;
        }

        &.col-md-1 {
            @media (max-width:$pc) {
                padding-right: 0;
                flex: 0;
                display: none;
            }


        }
    }

    .infoContainer {
        padding-bottom: 1px;
        display: flex;
        align-items: center;
        justify-content: space-between;


        &.col-md-7 {
            @media (max-width: $pc) {
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
                max-width: 413px;
                margin-left: 35px;
            }

            // @media (max-width: $phone) {
            //     margin-left: auto;
            //     margin-right: auto;

            // }

            @media (max-width: $phone-sm) {
                                margin-left: auto;
                margin-right: auto;
                max-width: 320px;
                padding: 0;
            }
        }
    }

    .infoWrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 413px;
        height: 55px;

        @media (max-width: $pc-big) {
            max-width: 376px;
            height: 40px;
        }

        @media (max-width: $pc) {
            max-width: 359px;
            height: 45px;
        }

        @media (max-width: $phone-sm) {
            margin: auto;
            height: auto;
        }

        .e-mail {
            @include textRules($fs-20, $white, left, 0.05em, 0, bold);
            display: flex;

            @media (max-width: $pc-big) {
                font-size: 17px;
            }

            @media (max-width: $phone-sm) {
                order: 4;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 30px;
                color: #0A6ECA;

            }

            &>span {
                @media (max-width: $phone-sm) {
                    display: none;
                }
            }

            .mailInfoWrapper {
                display: flex;
                align-items: flex-end;

                // @media (max-width: $phone) {
                //     background-color: white;
                //     padding: 8px 10px;
                //     border-radius: 5px;
                //     position: relative;

                //     &::after {
                //         position: absolute;
                //         left: 50%;
                //         transform: translateX(-50%);
                //         bottom: -16px;
                //         content: '';
                //         border-bottom: 1px solid white;
                //         width: 220px;
                //     }

                // }

                @media (max-width: $phone-sm) {
                    font-size: 16px;
                    background-color: white;
                    padding: 8px 10px;
                    border-radius: 5px;
                    position: relative;

                    &::after {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        bottom: -16px;
                        content: '';
                        border-bottom: 1px solid white;
                        width: 220px;
                    }
                }

                &>span {
                    display: flex;
                    letter-spacing: 0.03em;

                    @media (max-width: $pc) {
                        letter-spacing: 0.5px;
                    }

                    @media (max-width: $phone-sm) {
                        font-size: 12px;
                    }
                }

                .phoneStyleNone {
                    display: none;

                    @media (max-width: $phone-sm) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 19px;
                        height: 14px;
                        border: 1px solid #0588E8;
                        font-size: 11px;
                        border-radius: 3px;
                        margin-right: 4px;

                    }
                }

                .mailIcon {
                    @include backgroundBlock (23px, 17px, $white, 5px);
                    @extend %flexCenter;
                    margin-left: 14px;
                    margin-right: 11px;
                    background-color: $white;

                    @media (max-width: $pc) {
                        width: 20px;
                        height: 15px;
                        letter-spacing: 0px;
                        margin-left: 14px;
                        margin-right: 10px;
                    }

                    @media (max-width: $phone-sm) {
                        display: none;
                    }

                    .fa-envelope {
                        @include textRules(14px, #0A6ECA, left, 0, 0, 400);
                    }
                }
            }
        }

        .modalBottom {
            display: flex;
            justify-content: flex-start;
            padding-bottom: 6px;

            @media (max-width: $pc-big) {
                padding: 0;
            }

            @media (max-width: $pc) {
                padding-bottom: 3px;
            }

            @media (max-width: $phone-sm) {
                order: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 0;
            }

            .btn-primary {
                @include textRules (16px, $white, left, 0.05em, 0, bold);
                height: 16px;
                padding: 0;
                border-bottom: 1px solid transparent;
                background-color: transparent;
                margin-right: 10px;
                border: none;
                @media (max-width: $pc-big) {
                    font-size: 15px;
                }

                @media (max-width: $pc) {
                    font-size: 14px;
                   
                }

                @media (max-width: $phone-sm) {
                    font-size: 16px;
                    margin-right: 0px;
                }

                &:hover {
                    border-bottom: 1px solid white;
                }

                justify-content: space-between;


                @media (max-width: $phone-sm) {
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

    .status {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        // @media (max-width: $phone) {
        //     align-items: center;
        //     margin-top: 26px;
        //     padding-left: 0px;
        // }

        @media (max-width: $phone-sm) {
            padding-left: 0px;
            align-items: center;
            margin-top: 24px;
        }

        &.col-md-4 {
            @media (max-width: $pc) {
                width: auto;
                padding-left: 0;
                margin-left: auto;
            }


            // @media (max-width: $phone-) {
            //     max-width: 100%;
            //     width: 100%;
            //     flex: 0 0 100%;
            // }

            @media (max-width: $phone-sm) {
                max-width: 100%;
                width: 100%;
                flex: 0 0 100%;
                padding: 0;
            }

        }

        .status_box {
            @media (max-width: $pc) {
                position: absolute;
                top: -3px
            }

            @media (max-width: $phone-sm) {
                display: flex;
                flex-direction: column;
                position: static;
            }

            .upDate,
            .announcement {
                @include textRules($fs-20, $white, left, 0px, 0, normal);
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                @media (max-width: $phone-sm) {
                    order: 2;
                    width: 100%;
                    margin-bottom: 10px;
                    justify-content: space-between;
                    text-align: center;
                }

                span {
                    display: inline-block;
                    font-size: 25px;
                    font-weight: bold;
                    letter-spacing: 0.05em;

                    @media (max-width: $pc-big) {
                        font-size: 21px;
                    }

                    @media(max-width:$pc) {
                        font-size: 20px;
                    }

                    &:first-child {
                        font-weight: normal;
                        font-size: 20px;
                        letter-spacing: 0.03em;

                        @media (max-width: $pc-big) {
                            font-size: 17px;
                        }

                        @media(max-width:$pc) {
                            font-size: 16px;
                        }

                        // @media (max-width: $phone) {
                        //     justify-content: center;
                        //     font-weight: normal;
                        //     font-size: 14px;
                        //     letter-spacing: 0.05em;
                        // }

                        @media (max-width: $phone-sm) {
                            justify-content: center;
                            font-weight: normal;
                            font-size: 14px;
                            letter-spacing: 0.1em;
                        }
                    }

                    &:last-child {
                        text-align: right;
                        letter-spacing: 0.05em;
                        font-family: 'Arial';
                        margin-left: 13px;


                        @media (max-width: $phone) {
                            min-width: 121px;
                            text-align: right;
                            font-family: 'Arial';
                        }
                    }
                }

            }

            .upDate {
                margin-bottom: 6px;

                @media (max-width: $phone) {
                    margin-bottom: 0;
                }
            }

            .announcement {
                @media (max-width: $phone) {
                    margin-bottom: 6px;
                    order: 1;
                }

                span {
                    &:last-child {
                        letter-spacing: 0.05em;
                    }
                }
            }
        }


        // .announcement {
        //     display: flex;
        //     @include textRules($fs-20, $white, left, 0px, 0, normal);

        //     @media (max-width: $phone) {
        //         width: 330px;
        //         justify-content: center;
        //         letter-spacing: 0px;
        //     }

        //     span {
        //         display: inline-block;
        //         font-size: 25px;
        //         font-weight: bold;

        //         &:first-child {
        //             line-height: 25px;
        //             font-weight: normal;
        //             font-size: 20px;
        //             text-align: right;

        //             @media (max-width: 825px) {
        //                 font-size: 14px;
        //             }

        //             @media (max-width: $phone) {
        //                 font-weight: normal;
        //                 text-align: left;
        //             }

        //             @media (max-width: 340px) {
        //                 padding-left: 10px;
        //                 font-size: 16px;
        //             }
        //         }

        //         &:last-child {
        //             min-width: 151px;
        //             text-align: right;
        //             letter-spacing: 1.1px;
        //             font-family: 'Arial';

        //             @media (max-width: 825px) {
        //                 min-width: 130px;
        //                 font-size: 20px;
        //             }

        //             @media (max-width: $phone) {
        //                 min-width: 121px;
        //                 font-family: 'Arial';
        //                 text-align: right;
        //             }
        //         }
        //     }

        // }
    }

    .copyright {
        @include textRules($fs-12, #4D4D4D, center, 0.1em, 1, bold);
        @extend %flexCenter;
        height: 35px;
        background-color: white;

        @media (max-width: $pc_big) {
            height: 20px;
        }

        @media (max-width: $pc) {
            height: 27px;
        }

        @media (max-width: $phone) {
            @include textRules($fs-12, #4D4D4D, center, 0.05em, 1, bold);
            height: 27px;
        }

        @media (max-width: $phone-sm) {
            height: 35px;
        }
    }
}

//下方的彈出視窗
#templateModal,#search_results {
    position: relative;

    .modal {
        @media (max-width: $phone) {
            padding-left: 0 !important;
        }

        .modal-dialog {
            max-width: 1040px;
            margin: auto;
            min-height: 100%;
            transform: translate(0);

            @media (max-width: $pc) {
                width: 100%;
            }

            @media (max-width: $phone) {
                width: 100%;
            }

            @media (max-width: $phone-sm) {
                margin: 0;
                border-radius: 0;
            }

            .modal-content {
                border: 0;
                border-radius: 10px;
                box-shadow: 3px 3px 2px rgba($color: #191F84, $alpha: 0.2);

                @media (max-width: $pc) {
                    max-width: 100%;
                    margin: auto;
                    border-radius: 10px;
                }

                @media (max-width: $phone) {
                    max-width: 100%;
                    border-radius: 0;
                }

                .headerControl {
                    @include textRules(36px, #FFFFFF, justify, 1px, 1, bold);
                    position: relative;
                    width: 100%;
                    height: 127px;
                    border-radius: 10px 10px 0 0;
                    border-color: transparent;
                    padding: 0 0 0 125px;
                    background-color: #3FA7F3;
                    overflow: hidden;

                    @media (max-width: $pc) {
                        height: 72px;
                        padding-left: 69px;
                        padding-right: 69px;
                        border-radius: 10px 10px 0 0;
                    }

                    @media (max-width: $phone) {
                        height: 130px;
                        padding-left: 103px;
                        padding-right: 88px;
                        border-radius: 0;
                    }

                    @media (max-width: $phone_sm) {
                        height: 88px;
                        padding-left: 20px;
                        padding-right: 20px;
                        display: flex;
                        align-items: center;
                    }

                    .headerWrapper {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        height: 100%;

                        .headerIcon {
                            align-self: flex-end;
                            width: 389px;
                            margin-top: 30px;
                            opacity: .7;
                            position: absolute;
                            right: 111.5px;
                            bottom: -8px;

                            @media (max-width: $pc) {
                                width: 222px;
                                right: 65px;
                            }

                            @media (max-width: $phone_sm) {
                                display: none;
                            }
                        }

                        .modal-title {
                            display: inline-block;
                            font-size: 36px;
                            font-weight: bold;
                            line-height: 125px;

                            @media (max-width: $pc) {
                                font-size: 20px;
                                line-height: 72px;
                            }

                            @media (max-width: $phone) {
                                font-size: 24px;
                                line-height: 130px;
                            }

                            @media (max-width: 576px) {
                                line-height: 88px;
                                font-size: 24px;
                            }
                        }
                    }

                    .close {
                        @extend %outlineNone;
                        margin: 0;
                        padding: 0;
                        text-shadow: none;
                        font-size: 46px;
                        position: absolute;
                        right: 43px;
                        top: 12px;
                        opacity: 1;
                        color: #333333;

                        @media (max-width: $pc) {
                            font-size: 30px;
                            right: 26px;
                            top: 5px;
                        }

                        @media (max-width: $phone-sm) {
                            font-size: 40px;
                            right: 10px;
                            top: 0;
                        }
                    }
                }

                .bodyControl {
                    @include textRules($fs-20, #383B65, justify, 0.05em, 34px, normal);
                    height: 512px;
                    padding-left: 100px;
                    padding-right: 100px;
                    padding-top: 18px;
                    padding-bottom: 20px;
                    overflow-y: auto;
                    text-align: justify;



                    @media (max-width: $pc) {
                        font-size: 12px;
                        padding-top: 10px;
                        padding-left: 55px;
                        padding-right: 55px;
                        max-height:calc(100vh - 71px);
                        height: calc(100vh - 71px);
                    }

                    // @media (max-width: $phone) {
                    //     padding: 20px 88px 40px;
                    //     font-size: 15px;
                    //     font-weight: normal;
                    //     // max-height: 768px;
                    // }

                    @media (max-width: $phone-sm) {
                        padding: 17px 13px 34px;
                        font-size: 24px;
                        letter-spacing: 0.08em;
                        height: calc(100vh - 88px);
                        
                    }




                    .part-body {
                        padding: 0 25px;
                        position: relative;

                        @media (max-width:$pc) {
                            padding: 0 15px;
                        }

                        @media (max-width: $phone-sm) {
                            padding: 0 7px;
                        }

                        .text_bg {
                            background: url(../img/index/hr-07.png);
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 1px;
                            left: 0;
                            background-size: 816px;

                            @media (max-width:$pc) {
                                background: url(../img/index/hr-08.png);
                                background-size: 455px;
                                top: 2px;
                            }

                            @media (max-width:$phone) {
                                background: url(../img/index/hr-09.png);
                            }

                            @media (max-width:$phone-sm) {
                                background: url(../img/index/hr-10.png);
                            }
                        }

                        p {
                            display: block;
                            width: 100%;
                            line-height: 34px;
                            font-size: 20px;
                            letter-spacing: 0.08em;

                            @media (max-width:$pc) {
                                font-size: 14px;
                                line-height: 19px;
                            }

                            @media (max-width:$phone) {
                                font-size: 14px;
                                line-height: 25px;
                            }

                            @media (max-width:$phone-sm) {
                                font-size: 24px;
                                line-height: 30.7px;
                            }

                        }

                        .boldText {
                            font-weight: bold;
                        }

                        .part {
                            margin-bottom: 15px;

                        }

                        .specialSize {
                            font-size: 16px;

                            @media (max-width:$pc) {
                                font-size: 12px;
                            }

                            @media (max-width: $phone) {
                                font-size: 12px;
                            }

                            @media (max-width: $phone-sm) {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// 麵包屑
#breadcrumbArea {
    padding-top: 25px;

    .breadcrumb {
        padding: 0;
        padding-left: 65px;
        margin-bottom: 0;
        list-style: none;
        background-color: transparent;
        border-radius: 0;

        .breadcrumb-item {
            padding-right: 0;
            padding-left: 5px;
            @include textRules(18px, #4D4D4D, center, 1px, 1, bold);

            @media (max-width:$pc) {
                font-size: 14px;
            }

            &+.breadcrumb-item::before {
                display: inline-block;
                padding-right: 5px;
                color: #4D4D4D;
                content: ">";
            }

            a {
                @include textRules(18px, #4D4D4D, center, 1px, 1, bold);
            }
        }
    }
}

.modal-backdrop.show {
    opacity: 0.85;
}