@charset "UTF-8";
@import url(" ");
@import url(" ");
.red {
  background-color: #ef4135;
}

.red:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.red:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.gray {
  background-color: #ebebeb;
}

.gray:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.gray:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.blue {
  background-color: #0055a4;
}

.blue:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.blue:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.green {
  background-color: #008800;
}

.green:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.green:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.datepicker .cw {
  font-size: 0.625em !important;
}

.lb-data .lb-caption {
  font-size: 0.8125em !important;
}

.lb-data .lb-number {
  font-size: 0.75em !important;
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
}

.btn:focus,
.btn:active {
  -webkit-box-shadow: 0 0 0 0.2rem #d00;
          box-shadow: 0 0 0 0.2rem #d00;
}

*:focus {
  outline: #d00 solid 3px !important;
}

.btn,
.btn-sm {
  border-radius: 0.125rem;
}

html,
body {
  font-size: 1em;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Segoe UI", SegoeUI, "Microsoft JhengHei", 微軟正黑體, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  scroll-behavior: smooth;
}

@media screen and (max-width: 991px) {
  html,
  body {
    padding-top: 50px;
  }
}

body {
  padding-top: 144px;
}

@media screen and (max-width: 991px) {
  body {
    padding-top: 50px;
  }
}

body noscript {
  padding-top: 100px;
  background-color: white;
  font-size: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aU {
  left: 30px;
  top: 0;
  z-index: 100;
  position: absolute;
  text-decoration: none;
  color: rgba(255, 255, 255, 0);
}

#aU:hover, #aU:focus {
  color: #d00;
}

nav#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 20px 0;
  background-color: white;
  -webkit-box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.1rem 2rem rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1200px) {
  nav#navbar {
    padding: 10px 0;
  }
  nav#navbar .row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav#navbar #navbar-collapse {
    display: none;
  }
  nav#navbar #navbar-collapse.active {
    display: block;
    background-color: white;
    position: fixed;
    left: 0;
    top: 83px;
    padding-top: 27px;
    padding-bottom: 100vh;
  }
}

nav#navbar .mobile-toggle-btn {
  display: none;
}

@media screen and (max-width: 1200px) {
  nav#navbar .mobile-toggle-btn {
    position: absolute;
    left: 20px;
    top: calc(50% - 16px);
    padding: 8px 5px 3px 5px;
    border-radius: 3px;
    display: block;
    border: 1px solid #008282;
    cursor: pointer;
  }
  nav#navbar .mobile-toggle-btn span {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #008282;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
            transform-origin: 4px 0px;
    -webkit-transition: background 0.4s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.45s ease, -webkit-transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.4s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.45s ease, -webkit-transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.4s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.45s ease;
    transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.4s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.45s ease, -webkit-transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  nav#navbar .mobile-toggle-btn span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  nav#navbar .mobile-toggle-btn span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  nav#navbar .mobile-toggle-btn.active span {
    opacity: 1;
    -webkit-transform: translateX(4px) rotate(-45deg) translate(-2px, -1px);
            transform: translateX(4px) rotate(-45deg) translate(-2px, -1px);
  }
  nav#navbar .mobile-toggle-btn.active span:nth-last-child(2) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  nav#navbar .mobile-toggle-btn.active span:nth-last-child(3) {
    -webkit-transform: translateX(4px) rotate(45deg) translate(0, -1px);
            transform: translateX(4px) rotate(45deg) translate(0, -1px);
  }
}

nav#navbar .mobile-search-btn {
  display: none;
}

@media screen and (max-width: 1200px) {
  nav#navbar .mobile-search-btn {
    display: block;
    position: absolute;
    right: 20px;
    top: calc(50% - 16px);
    background: -webkit-gradient(linear, left top, right top, from(#25AB9E), to(#009997));
    background: linear-gradient(90deg, #25AB9E 0%, #009997 100%);
    background: -o-linear-gradient(90deg, #25AB9E 0%, #009997 100%);
    color: white;
    border-radius: 3px;
  }
  nav#navbar .mobile-search-btn i {
    color: white;
  }
}

nav#navbar .logo img {
  max-width: 188px;
}

@media screen and (max-width: 1200px) {
  nav#navbar .logo img {
    max-width: 120px;
  }
}

nav#navbar .logo a {
  color: #000;
}

nav#navbar .logo h1 {
  font-size: 1rem;
  position: absolute;
  left: -10000px;
}

nav#navbar #sub-nav {
  padding-top: 18px;
  font-size: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  nav#navbar #sub-nav {
    font-size: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  nav#navbar #sub-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

nav#navbar #sub-nav ul.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  nav#navbar #sub-nav ul.nav-links {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav#navbar #sub-nav ul.nav-links li {
  display: block;
  padding: 0 12px;
}

nav#navbar #sub-nav ul.nav-links li a {
  text-decoration: none;
  color: #000;
}

nav#navbar #sub-nav ul.nav-links li a:hover, nav#navbar #sub-nav ul.nav-links li a:focus {
  color: #008282;
  text-decoration: underline;
}

nav#navbar #sub-nav ul.nav-links li:first-child {
  padding-left: 0;
}

@media screen and (max-width: 1200px) {
  nav#navbar #sub-nav ul.nav-links li {
    width: 50%;
  }
  nav#navbar #sub-nav ul.nav-links li:nth-child(3) {
    padding-left: 0;
  }
}

@media screen and (max-width: 1200px) {
  nav#navbar #sub-nav ul.nav-links li {
    width: auto;
  }
  nav#navbar #sub-nav ul.nav-links li:nth-child(3) {
    padding-left: 12px;
  }
}

nav#navbar #sub-nav .font-size-change-box {
  cursor: default;
}

nav#navbar #sub-nav .font-size-change-box .btn-group button {
  margin-right: 5px;
}

@media screen and (max-width: 1200px) {
  nav#navbar #sub-nav .font-size-change-box span {
    display: block;
  }
  nav#navbar #sub-nav .font-size-change-box .btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 4px 15px 4px 10px;
  }
}

@media screen and (max-width: 1200px) {
  nav#navbar #sub-nav .font-size-change-box {
    margin-top: 20px;
  }
  nav#navbar #sub-nav .font-size-change-box span {
    display: inline;
  }
  nav#navbar #sub-nav .font-size-change-box .btn-group {
    display: inline;
  }
}

nav#navbar #sub-nav .font-size-change-box button:nth-child(1) {
  background: -webkit-gradient(linear, left top, right top, from(#25AB9E), to(#009997));
  background: linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  background: -o-linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  font-size: 1em;
}

nav#navbar #sub-nav .font-size-change-box button:nth-child(1).active {
  background: -webkit-gradient(linear, left top, right top, from(#f8bb00), to(#ed7a00));
  background: linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  background: -o-linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  color: white;
}

nav#navbar #sub-nav .font-size-change-box button:nth-child(1):focus {
  background: -webkit-gradient(linear, left top, right top, from(#f8bb00), to(#ed7a00));
  background: linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  background: -o-linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  color: white;
}

nav#navbar #sub-nav .font-size-change-box button:nth-child(2) {
  background: -webkit-gradient(linear, left top, right top, from(#25AB9E), to(#009997));
  background: linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  background: -o-linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 1.125em;
  padding: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

nav#navbar #sub-nav .font-size-change-box button:nth-child(2).active {
  background: -webkit-gradient(linear, left top, right top, from(#f8bb00), to(#ed7a00));
  background: linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  background: -o-linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  color: white;
}

nav#navbar #sub-nav .font-size-change-box button:nth-child(2):focus {
  background: -webkit-gradient(linear, left top, right top, from(#f8bb00), to(#ed7a00));
  background: linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  background: -o-linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  color: white;
}

nav#navbar #sub-nav .font-size-change-box button:nth-child(3) {
  background: -webkit-gradient(linear, left top, right top, from(#25AB9E), to(#009997));
  background: linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  background: -o-linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  font-size: 1.25em;
  padding: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

nav#navbar #sub-nav .font-size-change-box button:nth-child(3).active {
  background: -webkit-gradient(linear, left top, right top, from(#f8bb00), to(#ed7a00));
  background: linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  background: -o-linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  color: white;
}

nav#navbar #sub-nav .font-size-change-box button:nth-child(3):focus {
  background: -webkit-gradient(linear, left top, right top, from(#f8bb00), to(#ed7a00));
  background: linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  background: -o-linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  color: white;
}

nav#navbar #sub-nav .search-box {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  max-width: 350px;
}

@media screen and (max-width: 1200px) {
  nav#navbar #sub-nav .search-box {
    display: none;
  }
}

nav#navbar #sub-nav .search-box .search-input {
  text-align: right;
}

nav#navbar #sub-nav .search-box .search-input form {
  width: calc(100% - 115px);
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  max-width: 193px;
}

nav#navbar #sub-nav .search-box .search-input form .search-keywords {
  border-color: #008282;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

nav#navbar #sub-nav .search-box .search-input form .search-btn {
  background-color: #008282;
  border-color: #008282;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

nav#navbar #sub-nav .search-box .search-input form .search-btn:hover, nav#navbar #sub-nav .search-box .search-input form .search-btn:focus {
  background-color: #F5911E;
  border-color: #F5911E;
}

nav#navbar #sub-nav .search-box .search-input #advanced_search_btn {
  width: 100px;
  height: 38px;
  float: right;
  background: -webkit-gradient(linear, left top, right top, from(#25AB9E), to(#009997));
  background: linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  background: -o-linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  color: white;
  border: none;
}

nav#navbar #sub-nav .search-box .search-input #advanced_search_btn:hover, nav#navbar #sub-nav .search-box .search-input #advanced_search_btn:focus {
  background: -webkit-gradient(linear, left top, right top, from(#f8bb00), to(#ed7a00));
  background: linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  background: -o-linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  color: white;
}

nav#navbar #sub-nav .search-box .search-hot-keywords .popular {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 360px;
  color: #555;
}

nav#navbar #sub-nav .search-box .search-hot-keywords .popular a {
  color: #555;
  text-decoration: none;
}

nav#navbar #main-nav {
  font-size: 1.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  nav#navbar #main-nav {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1200px) {
  nav#navbar #main-nav {
    margin-top: 20px;
  }
}

nav#navbar #main-nav ul.nav-links {
  width: calc(100% + 21px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 -21px;
  padding: 0;
}

@media screen and (max-width: 1200px) {
  nav#navbar #main-nav ul.nav-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
}

nav#navbar #main-nav ul.nav-links li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  width: calc(100% / 7);
  font-weight: bold;
}

nav#navbar #main-nav ul.nav-links li a {
  text-decoration: none;
  color: #000;
  text-align: center;
  line-height: 1.5rem;
}

nav#navbar #main-nav ul.nav-links li a:hover, nav#navbar #main-nav ul.nav-links li a:focus {
  color: #008282;
  text-decoration: underline;
}

nav#navbar #main-nav ul.nav-links li:first-child {
  padding-left: 0;
}

nav#navbar #main-nav ul.nav-links li::before {
  content: "";
  position: absolute;
  left: 0;
  background-color: #979797;
  width: 1px;
  height: 20px;
}

nav#navbar #main-nav ul.nav-links li:first-child::before {
  display: none;
}

@media screen and (max-width: 1200px) {
  nav#navbar #main-nav ul.nav-links li {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    padding: 10px 0;
    border-top: 1px solid #ccc;
  }
  nav#navbar #main-nav ul.nav-links li.active {
    background-color: #ccc;
  }
  nav#navbar #main-nav ul.nav-links li::before {
    display: none;
  }
  nav#navbar #main-nav ul.nav-links li:last-child {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #ccc;
  }
}

main {
  min-height: 90vh;
  padding-top: 60px;
}

@media screen and (max-width: 991px) {
  main {
    padding-top: 0;
  }
}

main #top-breadcrumb {
  float: left;
}

main #top-breadcrumb #aC {
  left: 0;
  position: absolute;
  text-decoration: none;
  color: #fff;
}

main #top-breadcrumb #aC:hover, main #top-breadcrumb #aC:focus {
  color: #d00;
}

main .breadcrumb {
  background-color: #fff;
  font-size: 1.125rem;
  padding: 0;
  margin-bottom: 30px;
  position: relative;
}

main .breadcrumb a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

main .breadcrumb-item + .breadcrumb-item::before {
  color: #000;
  content: ">";
}

main .breadcrumb-item.active {
  color: #000;
}

main .ContentBtn {
  float: right;
  display: block;
}

@media (max-width: 991px) {
  main .ContentBtn {
    display: none;
  }
}

main .ContentBtn .col-12.d-flex {
  min-width: 330px;
}

main .ContentBtn .ContentPrevious,
main .ContentBtn .ContentPrint {
  border: #4d4d4d solid 2px;
  background-color: #ffffff;
  color: #4d4d4d;
  padding: 0 35px;
  min-width: 150px;
  text-decoration: none;
}

main .ContentBtn .ContentPrevious {
  border-right-width: 1px;
}

main .ContentBtn .ContentPrint {
  border-left-width: 1px;
}

main .ContentBtn .ContentPrevious:hover,
main .ContentBtn .ContentPrint:hover,
main .ContentBtn .ContentPrint:focus,
main .ContentBtn .ContentPrevious:focus {
  background-color: #4d4d4d;
  color: #ffffff;
}

@media screen and (max-width: 991px) {
  main #left-menu {
    margin-bottom: 40px;
  }
}

main #left-menu span {
  display: block;
  cursor: default;
  line-height: 68px;
  text-align: center;
  font-size: 1.5rem;
  background-color: #555;
  color: #fff;
  border-bottom: 1px solid #555;
}

@media screen and (max-width: 991px) {
  main #left-menu span {
    background-color: #000;
  }
}

main #left-menu span i {
  display: none;
}

@media screen and (max-width: 991px) {
  main #left-menu span i {
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

main #left-menu span.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main #left-menu ul {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 991px) {
  main #left-menu ul {
    display: none;
  }
  main #left-menu ul.active {
    display: block;
  }
}

main #left-menu ul li {
  display: block;
  line-height: 64px;
  text-align: center;
  border-bottom: 1px solid #555;
}

main #left-menu ul li a {
  font-size: 1.125rem;
  color: #000;
  text-decoration: none;
  position: relative;
}

main #left-menu ul li a:hover, main #left-menu ul li a:focus {
  color: #008282;
  font-weight: bold;
  text-decoration: underline;
}

main #left-menu ul li a:hover::before, main #left-menu ul li a:focus::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #008282;
}

main .mb_ContentBtn {
  display: none;
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  main .mb_ContentBtn {
    display: block;
  }
}

main .mb_ContentBtn .col-12.d-flex {
  min-width: 330px;
}

main .mb_ContentBtn .ContentPrevious,
main .mb_ContentBtn .ContentPrint {
  border: #999 solid 2px;
  background-color: #ffffff;
  color: #000;
  padding: 5px 45px;
  min-width: 150px;
  text-decoration: none;
}

main .mb_ContentBtn .ContentPrevious {
  border-right-width: 1px;
}

main .mb_ContentBtn .ContentPrint {
  border-left-width: 1px;
}

main .mb_ContentBtn .ContentPrevious:hover,
main .mb_ContentBtn .ContentPrint:hover,
main .mb_ContentBtn .ContentPrevious:focus,
main .mb_ContentBtn .ContentPrint:focus {
  background-color: #999;
  color: #ffffff;
}

footer {
  padding: 60px 0 0 0;
}

@media screen and (max-width: 991px) {
  footer {
    padding: 20px 0 0 0;
  }
}

footer img {
  width: 100%;
  color: white;
}

footer .sitemaps {
  padding: 80px 0 30px 0;
  background-color: #008282;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  margin-bottom: -1px;
}

@media screen and (max-width: 991px) {
  footer .sitemaps .row {
    text-align: center;
  }
}

footer .sitemaps #aZ {
  left: 0;
  position: absolute;
  text-decoration: none;
  color: #008282;
}

footer .sitemaps #aZ:hover, footer .sitemaps #aZ:focus {
  color: #d00;
}

footer .sitemaps .sitemap-title:focus p {
  outline: none !important;
  border: 3px solid #d00;
}

footer .sitemaps .content {
  margin-bottom: 30px;
}

@media screen and (max-width: 575px) {
  footer .sitemaps .content {
    display: none;
  }
  footer .sitemaps .content.active {
    display: block;
  }
}

footer .sitemaps .content ul {
  margin: 0;
  padding: 0;
}

footer .sitemaps .content ul li {
  display: block;
  line-height: 22px;
  margin-bottom: 14px;
}

footer .sitemaps p {
  font-size: 1.5rem;
  color: #FF0;
}

@media screen and (max-width: 575px) {
  footer .sitemaps p::after {
    content: "+";
    position: relative;
    left: 10px;
  }
  footer .sitemaps p.active::after {
    content: "-";
  }
}

footer .sitemaps a {
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;
}

footer .sitemaps a:hover, footer .sitemaps a:focus {
  font-weight: bold;
  text-decoration: underline;
}

footer .footer-info {
  background-color: #4D4D4D;
  padding: 60px 0 60px 0;
  color: white;
}

footer .footer-info .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 996px) {
  footer .footer-info .row {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  footer .footer-info .logo {
    margin-bottom: 30px;
  }
}

footer .footer-info .footer-information {
  position: relative;
}

footer .footer-info .footer-information .information-text {
  position: relative;
  color: #fff;
}

footer .footer-info .footer-information .information-text .social-icons {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 280px;
}

@media screen and (max-width: 996px) {
  footer .footer-info .footer-information .information-text .social-icons {
    position: relative;
    margin: 0 auto;
    max-width: 320px;
    margin-bottom: 40px;
  }
}

footer .footer-info .footer-information .information-text .social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

footer .footer-info .footer-information .information-text .social-icons ul li {
  margin-left: 5px;
}

@media screen and (max-width: 996px) {
  footer .footer-info .footer-information .information-text .social-icons ul li {
    margin-left: 10px;
  }
}

footer .footer-info .footer-information .information-text .social-icons ul li .icon {
  width: 100%;
}

footer .footer-info .footer-information .information-text .accessibility-icon {
  position: absolute;
  top: 50px;
  right: 0;
  max-width: 140px;
}

@media screen and (max-width: 996px) {
  footer .footer-info .footer-information .information-text .accessibility-icon {
    position: initial;
    margin: 0 auto;
    max-width: 140px;
    margin-bottom: 40px;
  }
}

footer .footer-info .footer-information .information-text a {
  color: #FF0;
  text-decoration: none;
}

footer .footer-info .footer-information .information-text a:hover, footer .footer-info .footer-information .information-text a:focus {
  color: #fff;
}

footer .footer-info .footer-information .information-text p {
  margin: 0;
}

#GoTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 61213906;
  display: none;
  -webkit-filter: drop-shadow(0 0.1rem 0.6rem rgba(0, 0, 0, 0.4));
  filter: drop-shadow(0 0.1rem 0.6rem rgba(0, 0, 0, 0.4));
}

@media screen and (max-width: 576px) {
  #GoTop {
    right: 30px;
    bottom: 30px;
  }
}

#GoTop.show {
  display: block;
}

#GoTop a {
  color: #000;
}

#GoTop a .go-to-top-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #F4901E;
  background-size: 150%;
  background-position: center;
  background-color: #F4901E;
  background-image: url("../images/icons/GoTop-3.png");
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  #GoTop a .go-to-top-btn {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 576px) {
  #GoTop a .go-to-top-btn {
    width: 50px;
    height: 50px;
  }
}

#GoTop a:hover .go-to-top-btn, #GoTop a:focus .go-to-top-btn {
  outline: 3px solid #d00;
  border: 10px solid white;
  background-color: white;
  background-image: url("../images/icons/GoTop-2.png");
  background-size: cover;
}

.red {
  background-color: #ef4135;
}

.red:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.red:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.gray {
  background-color: #ebebeb;
}

.gray:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.gray:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.blue {
  background-color: #0055a4;
}

.blue:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.blue:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.green {
  background-color: #008800;
}

.green:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.green:focus {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.datepicker .cw {
  font-size: 0.625em !important;
}

.lb-data .lb-caption {
  font-size: 0.8125em !important;
}

.lb-data .lb-number {
  font-size: 0.75em !important;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.pc {
  display: block;
}

.mobile {
  display: none;
}

@media (max-width: 768px) {
  .pc {
    display: none;
  }
  .mobile {
    display: block;
    padding: 0px;
    text-align: center;
  }
}

.button {
  background-color: white;
  border: 1px solid #008282;
  text-align: center;
  border-radius: 3px;
}

.button:hover, .button:active, .button:focus {
  background-color: #008282;
}

.button:hover .btn-text, .button:active .btn-text, .button:focus .btn-text {
  color: white;
}

.button .btn-text {
  color: #008282;
  text-decoration: none;
}

.button .btn-text.active {
  color: white;
}

.button.active {
  background-color: #008282;
}

.datepicker {
  border: solid 1px #008282;
  border-radius: 2px;
}

.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
  background: -webkit-gradient(linear, left top, right top, from(#f8bb00), to(#ed7a00));
  background: linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
}

@media screen and (max-width: 991px) {
  #SpecialSearch {
    text-align: center;
  }
}

#SpecialSearch h2 {
  font-size: 2.1875rem;
  line-height: 2.1875rem;
  letter-spacing: 2px;
  color: #008282;
  font-weight: 900;
  position: relative;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  #SpecialSearch h2 {
    font-weight: 600;
  }
}

#SpecialSearch h3 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #008282;
  font-weight: 900;
  margin: 20px 0;
}

#SpecialSearch hr {
  background: #ccc;
  height: 1px;
  margin: 15px 0;
}

@media screen and (max-width: 991px) {
  #SpecialSearch .specialSearchForm {
    margin: 0;
  }
}

#SpecialSearch .suggestForm {
  padding-bottom: 40px;
}

#SpecialSearch .suggestForm .datepicker {
  border: solid #999 1px;
  width: 127px;
}

@media screen and (max-width: 991px) {
  #SpecialSearch .suggestForm .datepicker {
    width: 45%;
  }
}

#SpecialSearch .suggestForm label {
  text-align: left;
  min-width: 100px;
}

@media screen and (max-width: 991px) {
  #SpecialSearch .suggestForm label {
    width: 100%;
  }
}

#SpecialSearch .suggestForm .endDate {
  min-width: 50px;
}

@media screen and (max-width: 991px) {
  #SpecialSearch .suggestForm .endDate {
    display: none;
  }
}

#SpecialSearch .suggestForm input {
  padding-left: 5px;
}

#SpecialSearch .suggestForm input:focus {
  outline-color: #008282;
}

#SpecialSearch .suggestForm select:focus {
  outline-color: #008282;
}

#SpecialSearch .suggestForm select {
  width: calc(100% - 105px);
}

@media screen and (max-width: 991px) {
  #SpecialSearch .suggestForm select {
    width: 100%;
  }
}

#SpecialSearch .suggestForm .double {
  width: calc(50% - 105px);
}

@media screen and (max-width: 991px) {
  #SpecialSearch .suggestForm .double {
    width: 100%;
    margin: 5px 0px;
  }
}

@media screen and (max-width: 991px) {
  #SpecialSearch .suggestForm .keySearch {
    width: 100%;
  }
}

#SpecialSearch .suggestForm .advancedSearch {
  background: -webkit-gradient(linear, left top, right top, from(#25AB9E), to(#009997));
  background: linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  background: -o-linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  float: right;
  display: inline-block;
}

#SpecialSearch .suggestForm .advancedSearch:hover, #SpecialSearch .suggestForm .advancedSearch:focus {
  background: -webkit-gradient(linear, left top, right top, from(#f8bb00), to(#ed7a00));
  background: linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  background: -o-linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  color: white;
}

@media screen and (max-width: 991px) {
  #SpecialSearch .suggestForm .advancedSearch {
    float: none;
    margin-top: 20px;
  }
}

@media screen and (max-width: 991px) {
  #SpecialSearch .suggestBtnArea {
    margin-bottom: 30px;
  }
}

#SpecialSearch .suggestBtn {
  background: -webkit-gradient(linear, left top, right top, from(#25AB9E), to(#009997));
  background: linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  background: -o-linear-gradient(90deg, #25AB9E 0%, #009997 100%);
  color: white;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
}

#SpecialSearch .suggestBtn:hover, #SpecialSearch .suggestBtn:focus {
  background: -webkit-gradient(linear, left top, right top, from(#f8bb00), to(#ed7a00));
  background: linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  background: -o-linear-gradient(90deg, #f8bb00 0%, #ed7a00 100%);
  color: white;
}

#SpecialSearch #paginationBlock {
  position: relative;
}

#SpecialSearch #paginationBlock .btn-text {
  color: #008282;
}

#SpecialSearch #paginationBlock .btn-text:hover, #SpecialSearch #paginationBlock .btn-text:focus {
  color: #fff;
}

#SpecialSearch #paginationBlock .btn-text:hover .button, #SpecialSearch #paginationBlock .btn-text:focus .button {
  background-color: #008282;
}

#SpecialSearch #paginationBlock .btn-text:focus .button {
  border: 3px solid #d00;
  line-height: 24px;
}

#SpecialSearch #paginationBlock .btn-text .button {
  height: 30px;
  padding: 0 15px;
  line-height: 28px;
}

#SpecialSearch #paginationBlock .pagination-btn .pagination {
  margin: 0;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

#SpecialSearch #paginationBlock .pagination-btn .pagination .page-item {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
}

#SpecialSearch #paginationBlock .pagination-btn .pagination .page-item a {
  color: #000;
  text-decoration: none;
}

#SpecialSearch #paginationBlock .pagination-btn .pagination .page-item.active {
  background-color: #008282;
}

#SpecialSearch #paginationBlock .pagination-btn .pagination .page-item.active a {
  color: white;
  text-decoration: none;
}

@media (max-width: 991px) {
  #SpecialSearch #paginationBlock .pagination-btn {
    width: 100%;
    margin: 30px 0 20px 0;
  }
  #SpecialSearch #paginationBlock .pagination {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #SpecialSearch #paginationBlock .button {
    padding: 0 6px;
    display: inline-block;
  }
  #SpecialSearch #paginationBlock .button .btn-text {
    font-size: 1rem;
  }
}

#SpecialSearch #suggestEvent .eventNum {
  text-align: left;
}

#SpecialSearch #suggestEvent .eventNum .eventNumColor {
  color: #008282;
}

#SpecialSearch #suggestEvent table {
  border-collapse: collapse;
}

#SpecialSearch #suggestEvent table.table.pc thead tr th {
  text-align: center;
}

#SpecialSearch #suggestEvent table.table.pc thead tr th:nth-child(1) {
  width: 130px;
}

#SpecialSearch #suggestEvent table.table.pc thead tr th:nth-child(2) {
  max-width: 500px;
}

@media screen and (max-width: 1200px) {
  #SpecialSearch #suggestEvent table.table.pc thead tr th:nth-child(2) {
    width: 40%;
  }
}

@media screen and (max-width: 991px) {
  #SpecialSearch #suggestEvent table.table.pc thead tr th:nth-child(2) {
    width: 43%;
  }
}

#SpecialSearch #suggestEvent table.table.pc thead tr th:nth-child(3) {
  width: 130px;
}

#SpecialSearch #suggestEvent table.table.pc thead tr th:nth-child(4) {
  width: 130px;
}

#SpecialSearch #suggestEvent table.table.pc tbody tr:first-child td {
  text-align: left;
}

#SpecialSearch #suggestEvent table.table.pc tbody tr:nth-child(odd) td {
  background-color: rgba(186, 227, 219, 0.5);
}

#SpecialSearch #suggestEvent table.table.pc tbody tr:nth-child(odd) td .links:hover, #SpecialSearch #suggestEvent table.table.pc tbody tr:nth-child(odd) td .link:focus {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

#SpecialSearch #suggestEvent table.table.pc tbody tr td {
  text-align: left;
}

#SpecialSearch #suggestEvent table.table.pc tbody tr td:nth-child(1) {
  width: 130px;
  min-width: 100px;
}

#SpecialSearch #suggestEvent table.table.pc tbody tr td:nth-child(2) {
  min-width: 240px;
}

#SpecialSearch #suggestEvent table.table.pc tbody tr td:nth-child(3) {
  width: 130px;
  min-width: 100px;
}

#SpecialSearch #suggestEvent table.table.pc tbody tr td:nth-child(4) {
  width: 130px;
  min-width: 80px;
}

#SpecialSearch #suggestEvent table.table.pc tbody tr td.title {
  background-color: #008282;
}

#SpecialSearch #suggestEvent table.table.mobile tbody tr:nth-child(2n+1) {
  font-weight: bolder;
}

#SpecialSearch #suggestEvent table.table.mobile tbody tr:nth-child(4) {
  text-align: justify;
}

#SpecialSearch #suggestEvent .mt-30 {
  margin-top: 30px;
}

#SpecialSearch #suggestEvent th {
  background-color: #f2f2f2;
}

#SpecialSearch #suggestEvent th,
#SpecialSearch #suggestEvent td {
  border: solid 1px #ccc;
}

#SpecialSearch #suggestEvent .title {
  background-color: #008282;
  color: white;
}

#SpecialSearch #suggestEvent .title img {
  width: 30px;
}

#SpecialSearch #suggestEvent .links {
  color: black;
  text-decoration: none;
}

#SpecialSearch #suggestEvent .links:hover, #SpecialSearch #suggestEvent .links:focus {
  color: #008282;
  font-weight: bold;
  text-decoration: underline;
}

#SpecialSearch .PageTitle {
  margin-bottom: 15px;
}

#SpecialSearch .PageTitle .PageTitle-text {
  font-size: 2.1875rem;
  line-height: 2.1875rem;
  letter-spacing: 2px;
  color: #008282;
  font-weight: 900;
  margin-right: 20px;
}

@media (max-width: 991px) {
  #SpecialSearch .PageTitle .PageTitle-text {
    font-weight: 600;
  }
}

#SpecialSearch .PageTitle .PageTitle-btn {
  width: 160px;
  height: 30px;
  line-height: 28px;
  border-radius: 5px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  #SpecialSearch .PageTitle .PageTitle-btn {
    margin-top: 30px;
  }
}

#SpecialSearch .PageTitle .PageTitle-btn:hover, #SpecialSearch .PageTitle .PageTitle-btn:focus, #SpecialSearch .PageTitle .PageTitle-btn:active {
  background-color: #008282;
}

#SpecialSearch .PageTitle .PageTitle-btn:hover .btn-text, #SpecialSearch .PageTitle .PageTitle-btn:focus .btn-text, #SpecialSearch .PageTitle .PageTitle-btn:active .btn-text {
  color: white;
}

#SpecialSearch .PageTitle .PageTitle-btn .btn-text {
  color: #008282;
  text-decoration: none;
}

#SpecialSearch .PageTitle .PageTitle-btn .btn-text.active {
  color: white;
}

#SpecialSearch .PageTitle .PageTitle-btn.active {
  background-color: #008282;
}

#SpecialSearch .info-text {
  letter-spacing: 0.5px;
  line-height: 25px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  #SpecialSearch .PageTitle.justify-content-start {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

#SpecialSearch #multiCollapseExample1 .card {
  border: none;
  padding: 30px 0;
  background-color: rgba(128, 128, 128, 0.2);
  margin-bottom: 30px;
}

#SpecialSearch #multiCollapseExample1 .card .searchBlcok {
  width: 428px;
}

#SpecialSearch #multiCollapseExample1 .card .searchBlcok .inputBar {
  margin-bottom: 20px;
}

#SpecialSearch #multiCollapseExample1 .card .searchBlcok .inputBar .inputText {
  width: 100px;
  margin-right: 50px;
  width: calc(40% - 25px);
}

@media (max-width: 768px) {
  #SpecialSearch #multiCollapseExample1 .card .searchBlcok .inputBar .inputText {
    margin-right: 0;
    width: 40%;
  }
}

#SpecialSearch #multiCollapseExample1 .card .searchBlcok .inputBar .inputText p {
  margin-bottom: 0px;
  padding-top: 2px;
}

@media (max-width: 576px) {
  #SpecialSearch #multiCollapseExample1 .card .searchBlcok .inputBar .inputText p {
    font-size: 1rem;
  }
}

#SpecialSearch #multiCollapseExample1 .card .searchBlcok .inputBar input {
  width: calc(60% - 25px);
}

@media (max-width: 768px) {
  #SpecialSearch #multiCollapseExample1 .card .searchBlcok .inputBar input {
    width: 60%;
  }
}

#SpecialSearch #multiCollapseExample1 .card .searchBlcok .inputBar input:focus {
  outline: #24AB9F auto 1px;
}

#SpecialSearch #multiCollapseExample1 .card .searchBlcok .button {
  width: 100px;
  height: 30px;
  margin-left: 10px;
  line-height: 28px;
}

@media (max-width: 768px) {
  #SpecialSearch #multiCollapseExample1 .card .searchBlcok {
    width: 80%;
  }
}

#SpecialSearch #multiCollapseExample1 .card .searchBlcok-btn {
  width: 100px;
  height: 30px;
  border: 1px solid #008282;
  background-color: white;
  line-height: 10px;
  margin-left: 10px;
  color: #008282;
}

#SpecialSearch #multiCollapseExample1 .card .searchBlcok-btn:focus {
  outline: #008282 auto 0px;
}
/*# sourceMappingURL=SpecialSearch.css.map */