@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  background: #fff;
}

input:focus {
  outline: 2px solid #BE1518;
}

.form-control:focus {
  outline: 2px solid #BE1518;
  border-color: #BE1518;
  box-shadow: none;
}

.checkBoxArea:focus,
.PrivacyPolicy:focus {
  outline: none;
}

.content {
  position: relative;
}

.background {
  width: 100%;
  height: 150vh;
  background-image: url("../img/Inquiry-Cart/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

@media (max-width: 1199px) {
  .banner {
    height: 200px;
    padding: 8px 0;
  }
}
@media (max-width: 1199px) {
  .banner .container {
    margin: unset !important;
    padding-left: 25px;
  }
}
@media (max-width: 1199px) {
  .banner .container .page-title h1 {
    font-size: 40px;
  }
}

.shop {
  padding-top: 70px;
  margin-bottom: 100px;
}
@media (max-width: 1199px) {
  .shop {
    padding-top: 20px;
    margin-bottom: 0;
  }
}
@media (max-width: 1199px) {
  .shop .shop_items {
    margin-bottom: 30px;
  }
}
.shop .shop_items .item {
  position: relative;
  width: 100%;
}
.shop .shop_items .item::before {
  content: "";
  width: calc(100% - 30px);
  height: 2px;
  border: 1px solid #BE1518;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.shop .shop_items .item:hover .mask {
  opacity: 0.85;
}
.shop .shop_items .item img {
  width: 100%;
  vertical-align: middle;
}
.shop .shop_items .item .mask {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #000 -50%, #333 50%);
  text-align: center;
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s;
}
.shop .shop_items .item .mask span {
  position: relative;
}
.shop .shop_items .item .mask span::before {
  content: "";
  border: 1px solid #BE1518;
  width: 100px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 25%;
}
.shop .shop_items .item .mask span a {
  text-decoration: none;
  color: #fff;
}
.shop .shop_items .txt {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.shop .shop_items .txt h2 {
  font-size: 20px;
  color: #D1D1D1;
  margin: 0px 0px 5px;
  line-height: 1;
}
.shop .shop_items .txt p {
  font-size: 30px;
}
.shop .shop_items .txt .garbageIcon {
  width: 60px;
  max-width: 60px;
  border: 1px solid #D1D1D1;
  color: #9E9E9E;
  text-align: center;
  align-self: center;
  padding: 15px;
}
.shop .shop_items .txt .garbageIcon:hover {
  border: 1px solid #BE1518;
  color: #fff;
  background-color: #BE1518;
}

.help {
  font-size: 30px;
  color: #000;
}
@media (max-width: 1199px) {
  .help {
    font-size: 20px;
  }
}
.help hr {
  border-top: 2px solid #BE1518;
  margin: 16px 0 20px 0;
}
.help p {
  font-weight: bold;
}

.Forms_card {
  padding: 0 15px;
  margin-bottom: 30px;
}
.Forms_card:nth-last-of-type(3) {
  margin-bottom: 50px;
}
.Forms_card .redBackground {
  font-size: 30px;
  background-color: #BE1518;
  color: #fff;
  padding: 5px 0px 5px 30px;
  font-weight: bold;
  letter-spacing: 2px;
}
@media (max-width: 1199px) {
  .Forms_card .redBackground {
    font-size: 20px;
    padding: 10px 10px;
  }
}
.Forms_card .subTitle {
  font-size: 30px;
  color: #BE1518;
  padding: 5px 0px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid #BE1518;
}
@media (max-width: 1199px) {
  .Forms_card .subTitle {
    font-size: 20px;
    padding: 10px 10px;
  }
}
.Forms_card .textRule {
  font-size: 20px;
  text-align: right;
}
@media (max-width: 1199px) {
  .Forms_card .textRule {
    text-align: left;
  }
}
.Forms_card .textRule div {
  margin-top: 30px;
  padding-left: unset;
  padding-right: unset;
}
@media (max-width: 1199px) {
  .Forms_card .textRule div {
    padding: 0 15px;
  }
}
.Forms_card .textRule div .red {
  color: #BE1518;
}
@media (max-width: 1199px) {
  .Forms_card .textRule span {
    letter-spacing: -1px;
  }
}
@media (max-width: 1199px) {
  .Forms_card .textRule .mt-10 {
    margin-top: 10px;
  }
}
.Forms_card .textRule .mb30 {
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .Forms_card .textRule .mb30 {
    margin-bottom: 10px;
  }
}
.Forms_card .textRule .checkBox {
  display: inline-block;
  padding-left: unset;
  padding-right: unset;
}
@media (max-width: 1199px) {
  .Forms_card .textRule .checkBox {
    padding: 0 15px;
  }
}
.Forms_card .textRule .mt20 {
  margin-top: 10px;
}
.Forms_card .textRule .checkBoxArea {
  min-width: 20px;
  height: 20px;
  margin: 0px 10px;
}
.Forms_card .textRule .mb-30 {
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  .Forms_card .request .mt-30 {
    margin-top: 20px;
  }
  .Forms_card .request .mb-30.clear {
    margin-bottom: 0;
  }
}

.agree {
  font-size: 20px;
}
.agree .lh-1 {
  line-height: 1.1;
}
.agree .PrivacyPolicy {
  min-width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btnGroup {
  margin-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 1199px) {
  .btnGroup div:nth-child(1) {
    padding: 0px 10px 0px 15px;
  }
  .btnGroup div:nth-child(2) {
    padding: 0px 15px 0px 10px;
  }
}
@media (max-width: 1199px) {
  .btnGroup .col-6 {
    order: 2;
  }
}
.btnGroup .col-6 .Back {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.15rem;
  background: #fff;
  color: #D1D1D1;
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 15px 0px;
  height: 50px;
  border: 1px solid #BE1518;
  line-height: 50px;
  color: #999999;
  text-decoration: none;
  padding: 0;
}
.btnGroup .col-6 .Back:hover {
  color: #fff;
  cursor: pointer;
  background-color: #C21518;
}
@media (max-width: 1199px) {
  .btnGroup .col-6 .Back {
    width: 100%;
    padding: 0;
  }
}
@media (max-width: 1199px) {
  .btnGroup .mLF {
    margin: 0px 0px 20px;
  }
}
.btnGroup .mLF .Submit {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.15rem;
  background: #fff;
  color: #D1D1D1;
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 15px 0px;
  color: #fff;
  background-color: #BE1518;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.btnGroup .mLF .Submit:hover {
  background-color: #E6E6E6;
  color: #BE1518;
  border: unset;
}/*# sourceMappingURL=Inquiry-cart.css.map */