@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
a {
  text-decoration: none !important;
}

ul {
  padding: 0;
}
@media (max-width: 1199px) {
  ul {
    padding: 0 16px;
  }
}
ul li {
  padding-left: 10px;
}

.row.mb-cunstom {
  margin-bottom: 100px;
}
@media (max-width: 1199px) {
  .row.mb-cunstom {
    margin-bottom: 50px;
  }
}
@media (max-width: 1199px) {
  .row {
    margin: unset;
  }
}

main .banner {
  height: 120px;
  background-position: center;
}
@media (max-width: 1199px) {
  main .banner {
    height: 75px;
    padding: 3px 0;
  }
}
@media (max-width: 1199px) {
  main .banner .container {
    margin: unset;
  }
}
main .banner .page-title {
  display: none;
}
main .banner .Back-btn div {
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  width: 150px;
  height: 50px;
  color: #fff;
  background-color: #BE1518;
}

.content .container .swiper-block {
  padding-left: 0px;
}
@media (max-width: 1199px) {
  .content .container .swiper-block {
    padding: unset;
  }
}
.content .container .swiper-block .swiper-container {
  height: 650px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .content .container .swiper-block .swiper-container {
    margin-bottom: 105px;
    height: 430px;
  }
}
@media (max-width: 768px) {
  .content .container .swiper-block .swiper-container {
    height: 315px;
  }
}
.content .container .swiper-block .swiper-container .swiper-wrapper {
  position: relative;
  left: -50;
}
.content .container .swiper-block .swiper-pagination {
  bottom: -55px;
}
@media (max-width: 1199px) {
  .content .container .swiper-block .swiper-pagination {
    bottom: 50px;
  }
}
.content .container .swiper-block .swiper-pagination .pagination-text {
  font-size: 30px;
  color: #000;
}
.content .container .swiper-block .swiper-slide {
  background-position: center;
  background-size: cover;
  max-width: 595px !important;
  max-height: 650px !important;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.content .container .swiper-block .swiper-slide .swiper-slide-shadow-left,
.content .container .swiper-block .swiper-slide .swiper-slide-shadow-right {
  background-image: none;
}
.content .container .swiper-block .swiper-slide.swiper-slide-active .mask {
  display: none;
}
.content .container .swiper-block .swiper-button {
  position: absolute;
  font-size: 40px;
  color: #D1D1D1;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}
@media (max-width: 1199px) {
  .content .container .swiper-block .swiper-button {
    top: unset;
    bottom: 33px;
    color: #D1D1D1;
  }
}
.content .container .swiper-block .swiper-button-prev-custom {
  left: 60px;
}
.content .container .swiper-block .swiper-button-prev-custom::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  left: 5px;
  z-index: -1;
  background-color: white;
}
@media (max-width: 1199px) {
  .content .container .swiper-block .swiper-button-prev-custom {
    left: 20%;
  }
}
.content .container .swiper-block .swiper-button-next-custom {
  right: 68px;
}
.content .container .swiper-block .swiper-button-next-custom::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 8px;
  left: 5px;
  z-index: -1;
  background-color: white;
}
@media (max-width: 1199px) {
  .content .container .swiper-block .swiper-button-next-custom {
    right: 20%;
  }
}
.content .container .swiper-block .picture {
  width: 100%;
  height: 100%;
  max-width: 595px;
  max-height: 650px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content .container .swiper-block .picture .mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 10;
}
.content .container .swiper-block .picture img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .container .swiper-block .picture a {
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 1;
  padding: 2px 4.5px 0 5px;
  background-color: #848484;
}
.content .container .swiper-block .picture a:hover {
  background-color: #BE1518;
}
.content .container .swiper-block .picture a i {
  color: #fff;
}
.content .container .product-style {
  padding: 0;
}
@media (min-width: 1200px) {
  .content .container .product-style {
    padding-top: 100px;
  }
}
@media (max-width: 1199px) {
  .content .container .product-style {
    padding-bottom: 30px;
    border-bottom: 1px solid #D1D1D1;
  }
}
.content .container .product-style .product-type {
  color: #9E9E9E;
  font-size: 16px;
  letter-spacing: 1.2px;
  margin-bottom: -15px;
}
.content .container .product-style .product-name {
  color: #000;
  font-size: 70px;
  font-weight: 700;
  position: relative;
}
.content .container .product-style .product-name::before {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  border-bottom: 2px solid #BE1518;
  padding: 0px 40px;
}
.content .container .product-style .product-content {
  width: 100%;
  margin-top: 25px;
  word-break: break-all;
}
.content .container .product-style .product-card {
  margin-top: 50px !important;
}
.content .container .product-style .buy-btn-group {
  margin-top: 50px;
}
.content .container .product-style .buy-btn-group .buy-btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.15rem;
  background: #848484;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 0px;
  display: block;
  width: 48%;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.3s;
}
.content .container .product-style .buy-btn-group .buy-btn:hover {
  background-color: #C21518;
}
@media (min-width: 1199px) {
  .content .container .product-style .buy-btn-group .buy-btn {
    width: 90%;
  }
}
@media (max-width: 1199px) {
  .content .container .product-info .row {
    display: block;
  }
}
.content .container .product-info .nav-link {
  color: #848484;
  background-color: rgba(209, 209, 209, 0.2);
}
.content .container .product-info .nav-link.active {
  color: #fff;
  background-color: #BE1518;
}
.content .container form #mySelect {
  width: 100%;
  height: 50px;
}
.content .container form #mySelect:focus {
  outline-color: #BE1518;
}
.content .container .tab-content {
  padding: 50px 0;
}
.content .container .tab-content .tab-pane ul li {
  font-weight: 100 !important;
  list-style-image: url("/img/Product/dot-07.png");
  color: #848484;
  font-size: 16px;
  margin: 0 0 20px 0;
}
.content .container .tab-content .tab-pane ul li:first-child {
  font-weight: 900 !important;
  font-size: 20px;
}
.content .container .tab-content table tbody tr:nth-child(2n-1) {
  background-color: rgba(209, 209, 209, 0.1);
}
@media (max-width: 1199px) {
  .content .container .tab-content table tbody tr {
    display: flex;
    flex-direction: column;
  }
}
.content .container .tab-content table tbody tr td:nth-child(2n-1) {
  width: 25%;
  background-color: #BE1518;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
}
@media (max-width: 1199px) {
  .content .container .tab-content table tbody tr td:nth-child(2n-1) {
    width: 100%;
  }
}
.content .container .tab-content table tbody tr td:nth-child(n+2) {
  color: #848484;
  font-size: 20px;
}
.content .container .three-cards-intro {
  margin-left: -15px;
  margin-right: -15px;
  font-size: 20px;
}
@media (max-width: 575px) {
  .content .container .three-cards-intro {
    font-size: 16px;
  }
}
.content .container .three-cards-intro .intro-cards {
  padding: 0 15px;
  margin-bottom: 140px;
}
@media (max-width: 1200px) {
  .content .container .three-cards-intro .intro-cards {
    margin-bottom: 45px;
  }
}
@media (max-width: 575px) {
  .content .container .three-cards-intro .intro-cards:last-child {
    margin-bottom: 123px;
  }
}
.content .container .three-cards-intro .intro-cards .intro-img {
  width: 354px;
  height: 251px;
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .content .container .three-cards-intro .intro-cards .intro-img {
    margin-bottom: 50px;
  }
}
.content .container .three-cards-intro .intro-cards .intro-title {
  margin-bottom: 40px;
}
@media (max-width: 575px) {
  .content .container .three-cards-intro .intro-cards .intro-title {
    font-size: 20px;
    margin-bottom: 45px;
  }
}
.content .container .three-cards-intro .intro-cards .intro-content {
  text-align: justify;
  max-width: 720px;
  margin: 0 auto;
}
.content .container .panorama .panorama-title {
  font-size: 45px;
  color: #4d4d4d;
  position: relative;
  margin-bottom: 60px;
}
.content .container .panorama .panorama-title::after {
  content: "";
  border-bottom: 2px solid #BE1518;
  width: 55px;
  position: absolute;
  bottom: 0;
  left: -5px;
}
.content .container .panorama .panorama-area {
  margin-bottom: 100px;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (min-width: 768px) {
  .content .container .panorama .panorama-area {
    margin-bottom: 200px;
  }
}
.content .container .panorama .panorama-area img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}
.content .container .panorama .panorama-area.active {
  cursor: grabbing;
}
.content .container .panorama .panorama-area .hide {
  display: none;
}
.content .info-youtube {
  position: relative;
  margin-bottom: 250px;
}
@media (max-width: 1080px) {
  .content .info-youtube {
    margin-bottom: 220px;
  }
}
@media (max-width: 578px) {
  .content .info-youtube {
    margin-bottom: 100px;
  }
}
.content .info-youtube .title-youtube {
  position: absolute;
  top: 10%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.85), rgba(51, 51, 51, 0.9));
  color: #fff;
  padding: 15px 180px 27px 70px;
}
@media (max-width: 1080px) {
  .content .info-youtube .title-youtube {
    padding: 5px 70px 10px 30px;
  }
}
@media (max-width: 578px) {
  .content .info-youtube .title-youtube {
    position: unset;
  }
}
.content .info-youtube .title-youtube .product-name {
  font-size: 72px;
  position: relative;
  line-height: 1;
}
@media (max-width: 1080px) {
  .content .info-youtube .title-youtube .product-name {
    font-size: 30px;
  }
}
@media (max-width: 578px) {
  .content .info-youtube .title-youtube .product-name {
    display: inline-block;
  }
}
.content .info-youtube .title-youtube .product-name::after {
  content: "";
  border-bottom: 2px solid #BE1518;
  width: 90px;
  position: absolute;
  bottom: 10px;
  right: -108px;
}
@media (max-width: 1080px) {
  .content .info-youtube .title-youtube .product-name::after {
    width: 35px;
    bottom: 4px;
    right: -42px;
  }
}
.content .info-youtube .title-youtube .subTitle {
  line-height: 1;
}
@media (max-width: 1080px) {
  .content .info-youtube .title-youtube .subTitle {
    font-size: 12px;
  }
}
.content .info-youtube .yt-location {
  height: 56vw;
  max-height: 1080px;
}
.content .info-youtube .footer-youtube {
  position: absolute;
  bottom: 0;
  left: 80%;
}
@media (max-width: 1080px) {
  .content .info-youtube .footer-youtube {
    left: 82%;
  }
}
@media (max-width: 578px) {
  .content .info-youtube .footer-youtube {
    position: unset;
  }
}
.content .info-youtube .footer-youtube .logo {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.85), rgba(51, 51, 51, 0.9));
  color: #fff;
  padding: 40px 25px 40px;
  transform: translateY(45%);
  position: relative;
}
@media (max-width: 1080px) {
  .content .info-youtube .footer-youtube .logo {
    font-size: 12px;
    padding: 15px 10px 20px;
  }
}
@media (max-width: 578px) {
  .content .info-youtube .footer-youtube .logo {
    text-align: right;
    transform: translateY(0%);
  }
}
.content .info-youtube .footer-youtube .logo::after {
  content: "";
  width: 60px;
  height: 2px;
  background-color: #BE1518;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-30px);
}
@media (max-width: 1080px) {
  .content .info-youtube .footer-youtube .logo::after {
    bottom: 15px;
  }
}
@media (max-width: 578px) {
  .content .info-youtube .footer-youtube .logo::after {
    left: unset;
    width: 38px;
    right: 1px;
  }
}/*# sourceMappingURL=Product.css.map */